.fstyle
    width: 100%
    color: white
    position: fixed
    zIndex: 1
    height: 40px
    display: flex
    align-items: center
    .fstyle__inside
        background: #9120f090
        border: 2.2px #2120f090 solid
        width: 80%
        borderRadius: 10px
        margin: 0 20px
        padding: 0 10px